.link:hover{
    font-weight: 900;
    text-decoration: underline;
    color: blue;
}

.delete{
    font-weight: 900;
    text-decoration: underline;
    color: red;
}

.check{
    font-weight: 900;
    size: 5rem;
    color: green;
}

