{% extends 'base.html' %}

{% block content %}
    
    <div id="liked_recipe_list">
        <h1>My Favorites</h1>
        {% for like in likes %}
            <div class="card" id="{{like.recipe_id}}">
                    {% for i in range(like.rating) %}
                        &#9733;
                    {% endfor %}  
                    {% if like.used %}  
                        <div class="check">&#x2713;</div>
                    {% endif %}       
            </div>
        {% endfor %}
    </div>
{% endblock %}